<!DOCTYPE html>
<html>
{% load tailwind_tags %}
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Library{% endblock %}</title>
  {% tailwind_css %}
</head>
<body>
  {% if user.is_authenticated %}
    <header aria-label="Site Header" class="bg-indigo-100">
      <div class="mx-auto container">
        <div class="flex h-20 items-center justify-between">
          <div class="flex-1 md:flex md:items-center md:gap-12">
            <a class="flex items-center text-indigo-600" href="/">
              <svg class="h-6 mr-3 sm:h-9" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path></svg>
              <span class="self-center text-xl font-semibold whitespace-nowrap">LibraPortal</span>
            </a>
          </div>
    
          <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Site Nav" class="hidden md:block">
              <ul class="flex items-center font-bold gap-6">
                <li>
                  <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'home' %}">
                    Home
                  </a>
                </li>
                {% if user.library is not None %}
                  <li>
                    <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'bo_reading_group_list' %}">
                      Reading Groups
                    </a>
                  </li>
                  <li>
                    <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'bo_book_list' %}">
                      Books
                    </a>
                  </li>
                  <li>
                    <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'bo_author_list' %}">
                      Authors
                    </a>
                  </li>
                  <li>
                    <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'bo_collection_list' %}">
                      Collections
                    </a>
                  </li>
                  <li>
                    <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'bo_editor_list' %}">
                      Editors
                    </a>
                  </li>
                  <li>
                    <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'bo_genre_list' %}">
                      Genres
                    </a>
                  </li>
                {% else %}
                  <li>
                    <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'book_list' %}">
                      Books
                    </a>
                  </li>
                {% endif %}
                <li>
                  <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'logout' %}">
                    Logout
                  </a>
                </li>
              </ul>
            </nav>
    
            <div class="flex items-center gap-4">    
              <div class="block md:hidden">
                <button
                  class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4 6h16M4 12h16M4 18h16"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% endif %}
  <main class="relative">
    {% if messages %}
      <div class="absolute right-5 top-5">
          {% for message in messages %}
            <div id="toast" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
              <div class="ml-3 text-sm font-normal">
                {{ message }} {{ message.tags }}
              </div>
              <button type="button" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast" aria-label="Close">
                  <span class="sr-only">Close</span>
                  <svg
                    aria-hidden="true"
                    class="w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
              </button>
            </div>
          {% endfor %}
      </div>
    {% endif %}
    <div class="container mx-auto py-6">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>