<!DOCTYPE html>
<html>
{% load tailwind_tags %}
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Library{% endblock %}</title>
  {% tailwind_css %}
</head>
<body>
  {% if user.is_authenticated %}
    <header aria-label="Site Header" class="bg-indigo-100">
      <div class="mx-auto container">
        <div class="flex h-20 items-center justify-between">
          <div class="flex-1 md:flex md:items-center md:gap-12">
            <a class="flex items-center text-indigo-600" href="/">
              <svg class="h-6 mr-3 sm:h-9" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v3m4-3v3m4-3v3M3 21h18M3 10h18M3 7l9-4 9 4M4 10h16v11H4V10z"></path></svg>
              <span class="self-center text-xl font-semibold whitespace-nowrap">LibraPortal</span>
            </a>
          </div>
    
          <div class="md:flex md:items-center md:gap-12">
            <nav aria-label="Site Nav" class="hidden md:block">
              <ul class="flex items-center font-bold gap-6">
                <li>
                  <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'home' %}">
                    Home
                  </a>
                </li>
                <li>
                  <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'book_list' %}">
                    Books
                  </a>
                </li>
                <li>
                  <a class="text-gray-700 transition hover:text-indigo-600" href="{% url 'logout' %}">
                    Logout
                  </a>
                </li>
              </ul>
            </nav>
    
            <div class="flex items-center gap-4">    
              <div class="block md:hidden">
                <button
                  class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4 6h16M4 12h16M4 18h16"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  {% endif %}
  <main>
    <div class="container mx-auto py-6">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>